html {
    background-color: #FEFBEC; 
}

body {
    margin: 0%;
    
}

h1 {
    font-size: 250%;
}

h2{
    font-size: 200%;
    font-weight: 600;
}

* {
    font-family: "Poppins";
    
}

 li {
    list-style-type: none;
}

.centerkumar {
    display: flex; flex-direction: row; align-items: center; justify-content: center;
}

.columnkumar {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}

.buttonkumar{
    background-color: #B5DDC2;
    font-size: 250%;
    width: 100%;
    color: black;
    padding: 1% 0%;
    margin: 1% 0%;
    border: solid black 1px;
    
}

.buttonkumar:hover {filter: drop-shadow(2px 2px 0px black) !important}



.titlekumar{
    background-color: #B5DDC2;
    font-size: 250%;
    width: 100%;
    color: black;
    padding: 1% 0%;
    margin: 0%;
    border: solid black 1px;

}

 .buttonkumar a:link, a:visited{
    text-decoration: none;
    color: black;
}

li a:link, a:visited{
    text-decoration: none;
    color: black;
}

li a:hover{
    text-decoration: underline;
    color: black;
}

.header{
    background-color: #FEFBEC; 
    position: fixed ;
    margin: 0%;
    padding: 1% 0%;
    width: 100%;
    border: solid black 1px;
}
.header li{
    margin: 0em 5em 0em 5em;
}


footer{
    background-color: #FEFBEC; 
    margin: 0%;
    padding: 0.3% 0%;
    width: 100%;
    left: 0;
    bottom: 0;
    border: solid black 1px;
}



.clear { clear: both; height: 30px; margin: 0%;}

.smolclear { clear: both; height: 15px; margin: 0%;}

footer a:link, a:visited {
    text-decoration: none;
    color: black;
}

footer a:hover{
    text-decoration:underline;
}

#appdev {
    background-color: #B5DDC2;
}

#aiml {
    background-color: #FAC898;
}

#design {
    background-color: #C3B1E1;
}
#motiongraphics {
    background-color: #FAA0A0;
}

#webdev {
    background-color: #A7C7E7;
}

