{%extends "layout.html"%}
{%block content%}


<h2 class="centerkumar">Videos</h2>
<div>
{%for res in resources%}
{%if res.type == "video"%}
<iframe width="400" height="200" src={{res.url}}>
</iframe>
{%endif%}
{%endfor%}
</div>
<hr>
<h2 class="centerkumar">Articles</h2>

{%for res in resources%}
{%if res.type == "article"%}
<div class="centerkumar">
    <div><a href={{res.url}}> {{res.title}}</a></div>
</div>


<br>
{%endif%}
{%endfor%}
<hr>
<h2 class="centerkumar">Projects & Inspo</h2>

{%for res in resources%}
{%if res.type == "inspo"%}
<div class="centerkumar">
    <div><a href={{res.url}}> {{res.title}}</a></div>
</div>

<br>
{%endif%}
{%endfor%}
{% endblock content %}