{%extends "layout.html"%}
{%block content%}
    <hr>
    <h2 class="subtitle is-2">Videos</h2>
    {%for res in resources%}
    {%if res.type == "video"%}
    <iframe width="420" height="315"
        src= {{res.url}}>
    </iframe>
    {%endif%}
    {%endfor%}
<hr>
    <h2 class="subtitle is-2">Articles</h2>

    {%for res in resources%}
    {%if res.type == "article"%}
    <div class="box"><a href={{res.url}}> {{res.title}}</a></div>
    
    <br>
    {%endif%}
    {%endfor%}
<hr>
    <h2 class="subtitle is-2">Projects & Inspo</h2>

    {%for res in resources%}
    {%if res.type == "inspo"%}
    <button class="button is-black"><a href={{res.url}}> {{res.title}}</a></button>

        <br>
    {%endif%}
    {%endfor%}
{% endblock content %}



