{%extends "layout.html"%}
{%block content%}

<hr>
<h2 class="subtitle is-2" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">Videos</h2>
<div>
{%for res in resources%}
{%if res.type == "video"%}
<iframe width="400" height="200" src={{res.url}}>
</iframe>
{%endif%}
{%endfor%}
</div>
<hr>
<h2 class="subtitle is-2" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">Articles</h2>

{%for res in resources%}
{%if res.type == "article"%}
<div class="block" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <div class="subtitle is-4" ><a href={{res.url}}> {{res.title}}</a></div>
</div>


<br>
{%endif%}
{%endfor%}
<hr>
<h2 class="subtitle is-2" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">Projects & Inspo</h2>

{%for res in resources%}
{%if res.type == "inspo"%}
<div class="block" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <div class="subtitle is-4"><a href={{res.url}}> {{res.title}}</a></div>
</div>

<br>
{%endif%}
{%endfor%}
{% endblock content %}