{%extends "layout.html"%}
{%block content%}


<div>
    <h1 class="centerkumar">The Unofficial ISTE Resource Respository</h1>
    <p class="centerkumar">Welcome to ISTE's
        Unofficial Resource Respository where you may find our recommended resources for each domain</p>
</div>



<div class="columnkumar">
    <div class="buttonkumar centerkumar" id="design">
        <a href="/design">Visual Design</a>
    </div>

    <div class="buttonkumar centerkumar" id="webdev">
        <a href="/web">Web Development</a>
    </div>

    <div class="buttonkumar centerkumar" id="appdev">
        <a href="/app">App Development</a>
    </div>

    <div class="buttonkumar centerkumar" id="aiml">
        <a href="/aiml">Machine Learning</a>
    </div>


    <div class="buttonkumar centerkumar" id="motiongraphics">
        <a href="/motiongraphics">Motion Graphics</a>
    </div>

</div>




{% endblock content %}