{%extends "layout.html"%}
{%block content%}

<div class="block">
    <p style="display: flex; flex-direction: row; align-items: center; justify-content: center;">Welcome to ISTE's
        Unofficial Resource Respository where you may find our recommended resources for each domain</p>
</div>
<style>
    .bottom-three {
       margin-bottom: 1cm;
    }
  </style>
<p class="bottom-three">
 </p>

<hr>
<br>

<div class="block">
    <a href="/web" class="button is-fullwidth is-info is-outlined is-large">Web Development</a>
</div>

<div class="block">
    <a href="/app" class="button is-fullwidth is-primary is-outlined is-large">App Development</a>
</div>

<div class="block">
    <a href="/aiml" class="button is-fullwidth is-danger is-outlined is-large">AI/ML</a>
</div>

<div class="block">
    <a href="/design" class="button is-fullwidth is-link is-outlined is-large">Design</a>
</div>

<div class="block">
    <a href="/motiongraphics" class="button is-fullwidth is-warning is-outlined is-large">Motion Graphics</a>
</div>

</div>
<br>
<hr>
<p class="bottom-three">  <br></p>

{% endblock content %}