{%extends "layout.html"%}
{%block content%}


<div>
    <h1 class="centerkumar">The Unofficial ISTE Resource Respository</h1>
    <p class="centerkumar">Welcome to ISTE's
        Unofficial Resource Respository where you may find our recommended resources for each domain</p>
</div>



<div class="columnkumar">
    <div class="buttonkumar centerkumar" style="background-color: #C3B1E1;">
        <a href="/design">Visual Design</a>
    </div>

    <div class="buttonkumar centerkumar" style="background-color: #A7C7E7;">
        <a href="/web">Web Development</a>
    </div>

    <div class="buttonkumar centerkumar">
        <a href="/app">App Development</a>
    </div>

    <div class="buttonkumar centerkumar" style="background-color: #FAC898;">
        <a href="/aiml">Machine Learning</a>
    </div>


    <div class="buttonkumar centerkumar" style="background-color: #FAA0A0;">
        <a href="/motiongraphics">Motion Graphics</a>
    </div>

</div>




{% endblock content %}