<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {%if title%}
  <title>{{title}}</title>
  {%else%}
  <title>Document</title>
  {%endif%}
</head>


<body>
  <div>
    
    <div>
      <ul class="header centerkumar">
        <li><a href="/app">App Development</a></li>
        <li><a href="/web">Web Development</a></li>
        <li><a href="/aiml">AI/ML</a></li>
        <li><a href="/design">Visual Design</a></li>
        <li><a href="/motiongraphics">Motion Graphics</a></li>
      </ul>
    </div>
<div class="clear"></div>
<div class="clear"></div>
    <div>

      {%if title%}
      <h1 class="titlekumar centerkumar">{{title}}</h1>
      {%else%}
      {%endif%}

      
    </div>

  </div>

  {% block content %} {% endblock %}
  <div class="clear"></div>

  <footer class="footer">
    <p class="centerkumar"><a href="/">Made with ❤ by ISTE-VIT</a></p>
  </footer>
</body>

</html>